body,html{
	width:100%;
	height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.debug{
	color:yellow;
	background-color:#000;
	max-width: 150px;
}
.hidden{
	display:none;
}
.stage{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow: hidden;
}
.controls{
	position: absolute;
	z-index: 13;
	width:100%;
	height: 100%;
	pointer-events:none;

	a{
		pointer-events:all;
		display: block;
		width:120px;
		height: 60px;	
		text-indent: -9999px;	
		position: absolute;
		@include x3() @include x2(){
			width:80px;
			height: 40px;
			background-size: contain;
		}
	}	
	.next{
	position: absolute;
	right: 4%;
	bottom:8%;
	background:url(../icn/icn-next.png);
	cursor:pointer;
	@include x3() @include x2(){
		background-size: contain;
	}

	}
	.prev{
	position: absolute;
	left: 4%;
	bottom:8%;
	background:url(../icn/icn-prev.png);
	cursor:pointer;
	@include x3() @include x2(){
		background-size: contain;
	}	
	}	
	.playSound{
	right: 4%;
	top:8%;
	background:url(../icn/icn-play-sound.png);
	@include x3() @include x2(){
		background-size: contain;
	}
	}
	.hideText{
	right: 14%;
	top:8%;
	background:url(../icn/icn-dialog.png);
	@include x3() @include x2(){
		background-size: contain;
	}	
	}
}

.playAgain{
	display:none;
	position: absolute;
	right: 0;
	left:0;
	bottom: 2em;
	margin:0 auto;
	text-align:center;
	text-decoration:none;
	color:$fontColor;
	line-height: 4em;
	font-size:2.7em;
	font-family: 'just_another_hand';
	background:url(../icn/icn-play-again.png);
	cursor:pointer;
	width:120px;
	height: 60px;	
	z-index: 11;
}
.texts {
	position: absolute;
	bottom:2em;
	left:2em;
	max-width:70%;
	z-index: 9;
	opacity:.9;
	&.visible{
		opacity:1;
		z-index: 9;
		display:block;
	}
	&.hidden{
		opacity:0;
		z-index: 9;
		display:none;
	}	

	div{
		@include text-bubble;
		@include x2{
			font-size:2.2em;
		}
		@include x3() @include x2(){
			font-size:1.5em;
		}
	}
		@include paper();
		&:before{
			@include patch(0,null,null,-1.3em,-45deg);
		}
		&:after{
			@include patch(null,-1.3em,0,null,-45deg);
		}

}


.helper{
	width:20px;
	height:20px;
	position: absolute;
	border:1px solid #ffc926;
	border-radius: 20px;
	z-index: 19;
	div{
		@include three-d();
		width:10px;
		height:10px;
		background-color:#ffc926;
		border-radius: 20px;
		margin:.3em auto;
	}
}


.scene{
	width:100%;
	height: 100%;
	display:none;
	position: relative;
}
.scene canvas{
	z-index: 12;
}
.scene_0 {
	background-size:100% 100%;
	canvas{
		width:70%; 
		margin:0 auto;
		position: absolute;
		@include vertical-align;
		top:50%;
		bottom:0;
		left:0;
		right:0;
		@include x2{
		width:100%;
	}
	}
	.texts{display: none;}
}

.scene_1{
	background-size:contain;
    canvas{
	margin:0 auto;
	@include transition(4.3s)
	}
	#canvas1{
		width:20%;
		margin:0 auto;
		position: absolute;
		@include vertical-align;
		top:50%;
		bottom:0;
		left:0;
		right:0;
		&.active{
			margin-left:25%;
		}
		@include x2{
			width:30%;
			margin-right: 10em;
		}		
	}
	@include helper(51%,27%,63%,34%,null,null);
	@include texts(35%,null,null,null,null);

}

.scene_2{
	background-size:contain;
    canvas{
	margin:0 auto;
	@include transition(1.6s)
	}
	#canvas2{
	@include vertical-align();
	left:0;
	right:0;
	transform:scale(.6);
	&.active{
		top:0;
		}
	@include x2{
		//right: 15%;
	}
	}
	@include helper(53%,22%,52%,22%,null,null);
	.helper{
		margin-left: 53%;
    	margin-top: 22%;
    	@include x2{
		margin-left: 52%;
    	margin-top: 22%;    		
    	}
	}	

}
.scene_2{
	background-size:cover;
	background-position: 51% 60%;
    background-size: 134%;
    @include transition(1.6s)


	&.active{
		background-position: 51% 1%;
    	background-size: 194%;
    	@include x3() @include x2(){
    		background-position: 51% 13%;
    	}
    	#canvas2{
    		transform:scale(.7);
    		top:6em;
    		@include x3() @include x2(){
    			transform: scale(.55);
    			top: -2em;
    		}
    	}
	}
	@include texts(20%,null,null,5%,null);
	.texts{
		max-width: 30%;
	}
}

.scene_3{
	background-size:cover;
	@include backgroundTransition(1s);
	canvas{
		position: absolute;
		right:10%;
		top:5em;
		transform: scale(.45);
			@include x2(){
				top:10%;
				right:-11em;
				transform: scale(.35);
			}
			@include x3(){
				top:-9em;
				right:-17%;
				transform: scale(.25);
			}				
		}

		.texts{
				top:2em;
	}
	.sceneActions{
		width:100%;
		height: 480px;
		position:absolute;
		z-index: 9;
		margin:12em 5em 0 5em;
		@include x3() @include x2(){
		height: 480px;
	    z-index: 12;
	    margin: 8em 0em;
		}
	}
	@include helper(53%,22%,65%,22%,48%,24%);
}
.scene_4{
	background-size:cover;
	@include backgroundTransition(1s);
	.texts{
		top:2em;
	}
	.sceneActions{
		width:100%;
		height: 480px;
		position:absolute;
		z-index: 9;
		margin:20em 5em;
		@include x3() @include x2(){
		height: 480px;
	    z-index: 9;
	    margin: 6em 0em;
		}		
	}	
}
.scene_5{
	background-size:100% 100%;
	canvas{
	@include center(.6);
	}
	@include helper(62%,26%,57%,26%,48%,26%);	

	@include texts(20%,null,null,20%,null);
		@include x3() @include x2(){
			@include texts(10%,null,null,10%,null);
		}	
}
.scene_6{
	background-size:100% 100%;
	canvas{
	@include center(.6);
	}
	@include texts(15%,null,null,15%,null);
	@include helper(38%,20%,32%,18%,45%,15%);	
}
.scene_7{
	background-size:100% 100%;
	.parents{
		background:url('../images/parents.png') no-repeat;
		position: absolute;
		top:37%;
		left:10%;
		margin-top:-10em;
		z-index: 9999;
		z-index: 1;
		width:100%;
		height: 100%;
		background-size:50%;
		@include x3() @include x2(){
			width:100%;
			top:50%;
		}
	}
	@include texts(20%,10%,null,inherit,null);
	@include x3() @include x2(){
		@include texts(10%,10%,null,inherit,null);
	}
	.texts{
	max-width:45%;
	@include x3() @include x2(){
		max-width:55%;
	}
	}
}
.scene_8{
	background-size:100% 100%;
	canvas{
			position: absolute;
			left: 0;
			top: -4em;
			right: 0;
			margin: 0 auto;
			transform:scale(.8);
		@include x2{

			width:80%;
			margin-top:3em;
		}
		@include x3(){
			transform:scale(.8);
			top:-5em;
			left: 5em;
		}
	}
	@include texts(null,null,5%,18%,null);
		.texts{
		max-width:100%;
		}
		@include helper(38%,20%,32%,18%,38%,19%);
			
}

.scene_9{
	background-size:100% 100%;
/* 	canvas{
		position: absolute;
		top:23%;
		left:0;
		right:0;
		margin:0 auto;
		@include x2{
			top:15%;
			transform:scale(.7);
		} 
	} */
	canvas{
		width:35%;
		margin:0 auto;
		position: absolute;
		@include vertical-align;
		top:70%;
		bottom:0;
		left:0;
		right:0;
		@include x2{
			top:70%;
		}
	}
	@include texts(10%,null,null,2%,null);
	.texts{
		max-width:30%;
	}	
}

.scene_10{
	background-size:cover;
/* 	canvas{
		position: absolute;
		top:24%;
		left:5%;
		@include x2{
				transform:scale(.6);
			    top: 14%;
    			left: 0%;
		}
	} */
	canvas{
		width:40%;
		margin:0 auto;
		position: absolute;
		@include vertical-align;
		top:35%;
		bottom:0;
		left:0;
		right:0;
		margin-left:30%;
		transform:scale(.8);
		@include x2{
			top:35%;
			transform:scale(1);
		}
	}
	@include texts(10%,null,null,2%,null);
	.texts{
		max-width:30%;
	}	
}
.scene_11{
	@include texts(20%,null,null,5%,null);
	background-size:cover;
	@include x2{
		background-size:110% 100%;
	}
	.present{
		margin:0 auto;
		width:30%;
		@include vertical-align;
		position:relative;
		@include x2{
			top:35%;
			transform:scale(1);
		}		
		img{
			display: block;
			width:100%;
			margin:0 auto;
		}
	}
}
.scene_11{
	@include texts(10%,null,null,5%,null);
	.texts{
		max-width:35%;
	}
}
.scene_12{
	@include texts(5%,null,null,5%,null);
	background-size:100% 100%;
	@include x2{
		background-size:110% 100%;
	}	
	.texts{
		max-width:50%;
	}
}
.scene_13{
	@include texts(27%,null,null,7%,null);

	.texts{
		max-width:50%;
		text-align: left;

		&:before,&:after{
			display:none;
		}
		padding:3em 0;
		.letterBackground{
			position: absolute;
			right:.8em;
			bottom:2.8em;
			width:8em;
		}
		.letterFooter{
			display:block;
			background:url("../images/letterFooter.png") repeat-x bottom;
			position: absolute;
			bottom:0;
			width:100%;
			height:80px;
			margin:0;
			padding:0;
		}
		.letterHeader{
			display:block;
			@extend .letterFooter;
			top:0;
			bottom:inherit;
			height:34px;
			background:url("../images/letterHeader.png") repeat-x bottom;
		}
		.letterHeart{
			display:block;
			background:url("../images/letterHeart.png") no-repeat bottom;
			right: 1em;
			position: absolute;
			top: -1.5em;
			height: 64px;
			width: 84px;
		}
	}
}
.scene_13,.scene_14{
	background-size:100% 100%;
}
.scene_13{ 
	img{
		    margin: 0 auto;
		    display: block;
		    margin-top: -29em;
		    position: absolute;
		    right: 0;
		    opacity: 1;
		    @include transition(3s);
		    @include three-d();
		    transform: scale(.7);
		    &.active{
		    	transform: scale(.3);
		    	opacity: 1;
		    	right:-10em;
		 	@include x2() {
		 		margin-top:-18em;
		 		width:80%;
			}
			@include x3() {
		    top: 0em;
		    left: 11em;
		    transform: scale(0.4);
			}
		    }

	}
	div{
		top: 10em;
		margin: 0 auto;
		text-align:center;
		left: 0;
		right: 0;
		display:none;

	}
	.texts{
		margin-top:-3em;
		margin-left:2em;
		max-width:50%;
		@include x3() @include x2(){
			margin-top:-8em;

		}
	}
}

.scene_14{
	.customText,.customImg{
		width:50%;
		float:left;
		margin-top:12%;
		@include x3() @include x2(){
			margin-top:1em;
		}
	}
	.customText{ 
		p,a{
			font-family: 'just_another_hand';
			font-size: 2em;
			color:$fontColor;
			padding:0 2em;
			@include x3() @include x2(){
				font-size:1.4em;
			}
		}
		.logo{
			width:30%;
			padding-left: 4em;
		}
	}
	.customImg{
		
		img{
			width:70%;
			@include x3() @include x2(){
				margin-left:5em;
			}
		}
		div{
			font-family: 'just_another_hand';
			font-size: 4em;
			color:$fontColor;
			@include x3() @include x2(){
				font-size:2em;
				line-height: 3em;
			}
		}
	}
}


.mask{
	pointer-events: none;
	position: absolute;
	top:0;left:0;
	background-color:#FFF;
	width:100%;
	height:100%;
	opacity:1;
	text-align:center;
	z-index: 9;
	@include transition(1s);
	background:url('../images/loadingBackground.jpg') repeat;
	.logoMask{
		width:100%;
		display:block;
		@include vertical-align;
		img{
			width:150px;
		}
	}
	.loadingText{
		width:100%;
		font-size:1.5em;
		@include vertical-align;
		margin-top:5em;
		text-align:center;
		color:#9f4772;
	}
}


.devicePortrait{
	width:100%;
	height:100%;
	background-color:#FFF;
	div{
		background:url('../images/switch-to-landscape.gif');
		margin:0 auto;
		text-align:center;
		width:400px;
		height:400px;
	}
	p{
		text-align: center;
	}
}


.next{
  animation: shake ease-in-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: shake ease-in-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: shake ease-in-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

.helper div{
	animation: enlarge ease-in-out 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: enlarge ease-in-out 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: enlarge ease-in-out 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	opacity: .7;
}

@keyframes enlarge{
  0% {
    transform:  scale(0.3)  ;
  }
  100% {
    transform:  scale(1)  ;
  }
}

@keyframes shake{
  0% {
    transform:  translate(-15px,0px)  ;
  }
  20% {
    transform:  translate(-15px,0px)  ;
  }
  40% {
    transform:  translate(15px,0px)  ;
  }
  60% {
    transform:  translate(-15px,0px)  ;
  }
  100% {
    transform:  translate(-15px,0px)  ;
  }
}

@-moz-keyframes shake{
  0% {
    -moz-transform:  translate(-15px,0px)  ;
  }
  20% {
    -moz-transform:  translate(-15px,0px)  ;
  }
  40% {
    -moz-transform:  translate(15px,0px)  ;
  }
  60% {
    -moz-transform:  translate(-15px,0px)  ;
  }
  100% {
    -moz-transform:  translate(-15px,0px)  ;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform:  translate(-15px,0px)  ;
  }
  20% {
    -webkit-transform:  translate(-15px,0px)  ;
  }
  40% {
    -webkit-transform:  translate(15px,0px)  ;
  }
  60% {
    -webkit-transform:  translate(-15px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(-15px,0px)  ;
  }
}



